body{
    cursor:url(../Src/MausZeiger.gif),auto;
}
.carousel-inner > .carousel-item > img {
    height:80vh;
}

.news-img {
    max-height: 150px;
    width: 100%;
}


.profilbild {
    width:50px;
}
